html, body {
  overflow: clip;
  font-size: 90%;
}

.mw-600 {
  max-width: 600px;
}

@media (max-width: 320px) {
  body {
    font-size: 60% !important;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 80% !important;
  }
}
